@charset "utf-8";
@author "Roberta Madge";


*{
    font-family: verdana;
}

body{
    background-image: url(/img/black-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    color: aqua;
}

h1{
    color: purple;
    text-align: center;
}

h2{
    color: purple;
    text-align: center;
    font-weight: bold;
}
h3{
    color: purple;
    text-align: center;
}
h4{
    color: purple;
    text-align: center;
}

#profileImg{
    width: 16px;
    float: right;
    margin-left: 100px;
}

#githubImg{

}

#languageImg{

}

p{

}

.paragraph{

}

aside{

}

footer{

}